.root {
    margin-top: auto;
}
.footer{
    margin-top: auto;
    width: 100%;
}
.footerBlue{
    height: 9.5vh;
    background-color: rgba(1,22,39,.8);
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerImg{
    height: 6vh;
}
.footerPink{
    height: 3vh;
    background-color: #df005d;
}